*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(Images/background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.header nav{
    padding: 2% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 700px){
    .nav-links ul{
        width: 100%;
        display: block;
        position: relative;
    }
    .header nav #nav-logo{
        display: none;
    }
}

.header nav a img{
    width: 150px;
    height: 50px;
    padding: 8px 0;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 8px 12px;
}

.nav-links ul li a{
    text-decoration: none;
    color: white;
}

.nav-links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: #f44336;
    display: block;
    margin: 5px 0;
    transition: 0.5s;
    margin-left: auto;
    margin-right: auto;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.main{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 180px 50px;
}

.main h1{
    color: white;
    font-size: 60px;
    margin-bottom: 30px;
}

.main p{
    color: white;
    font-size: 15px;
    margin-bottom: 30px;
}

.main button{
    width: 200px;
    height: 50px;
    background: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
    border-radius: 10px;
}

/* OVA E IZBRISANO ZA DA MENE NESTO */

/* .main button::after{
    content: '';
    width: 20%;
    height: 1px;
    background-color: white;
    position: absolute;
    left: 90%;
    top: 50%;
    transition: 0.5s;
}

.main button::before{
    content: '';
    width: 20%;
    height: 1px;
    background-color: white;
    position: absolute;
    left: -10%;
    top: 50%;
    transition: 0.5s;
} */

.main button:hover{
    background-color: orangered;
    border: 1px solid orangered;
}

.main button:hover::before{
    background-color: orangered;
}

.main button:hover::after{
    background-color: orangered;
}

.courses{
    width: 100%;
    height: 80vh;
    align-items: center;
    text-align: center;
}

.courses h2{
    margin-top: 65px;
    font-size: 30px;
}

.courses #desc{
    color: black;
    opacity: 75%;
    margin-top: 15px;
    margin-bottom: 65px;
}

.courses .classes{
    display: flex;
    align-items: center;
}

.courses .classes div{
    display: inline-block;
    width: 325px;
    height: 200px;
    background-color: hsl(34, 79%, 94%);
    border-radius: 15px;
    transition: 0.5s;
    cursor: pointer;
    overflow: hidden;
    
}

.courses .classes div:hover{
    transform: scale(1.1);
    box-shadow: 5px 0px 5px hsl(0, 0%, 75%), -5px 0px 5px hsl(0, 0%, 75%), 0px 5px 5px hsl(0, 0%, 75%), 0px -5px 5px hsl(0, 0%, 75%);
    
}

.courses .classes div h6{
    font-size: 18px;
    padding: 30px 0;
    margin-bottom: 1px;
}

.courses .classes div p{
    opacity: 75%;
    padding: 0 10px;
}

#class1{
    margin-left: 275px;
    margin-right: 30px;
}

#class2{
    margin-right: 30px;
}

#class3{
    margin-right: 275px;
}

.campus {
    text-align: center;
    height: 100vh;
    margin-top: 65px;
}

.campus h2{
    font-size: 30px;
    margin-bottom: 15px;
}

.campus p{
    margin-bottom: 60px;
    opacity: 75%;
    margin-left: 15px;
    margin-right: 15px;
}

.campus img{
    height: 600px;
    border-radius: 15px;
    width: 350px;
    flex-wrap: wrap;
}

.campus .img{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.campus .img::after{
    content: "";
    display: block;
    clear: both;
}

.img1{
    width: 350px;
    margin-left: 200px;
    height: 600px;
    margin-right: 15px;
    background-color: orangered;
    border-radius: 15px;
    border: none;
    outline: none;
    position: relative;
    text-align: center;
}

#img1{
    transition: 0.5s;
}

#img1:hover{
    z-index: -1;
    opacity: 50%;
}

.img2{
    width: 350px;
    height: 600px;
    margin-right: 15px;
    background-color: orangered;
    border-radius: 15px;
    position: relative;
}

#img2{
    transition: 0.5s;
}

#img2:hover{
    z-index: -1;
    opacity: 50%;
}

.img3{
    width: 350px;
    height: 600px;
    background-color: orangered;
    border-radius: 15px;
    position: relative;
}

#img3{
    transition: 0.5s;
}

#img3:hover{
    z-index: -1;
    opacity: 50%;
}

.img1 p{
    position: absolute;
    top: 95%;
    left: 38%;
    transition: 0.5s;
    z-index: -1;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
}

.img1:hover p{
    top: 50%;
    display: block;
    z-index: 1;
}

.img2 p{
    position: absolute;
    top: 95%;
    left: 33%;
    transition: 0.5s;
    z-index: -1;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
}

.img2:hover p{
    top: 50%;
    display: block;
    z-index: 1;
}
.img3 p{
    position: absolute;
    top: 95%;
    left: 28%;
    transition: 0.5s;
    z-index: -1;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
}

.img3:hover p{
    top: 50%;
    display: block;
    z-index: 1;
}

.facilities{
    width: 100%;
    height: 100vh;
    text-align: center;
    margin-top: 100px;
}

.facilities p{
    opacity: 75%;
    margin-top: 35px;
    margin-bottom: 100px;
}

.facilities-img{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#fac-img1, #fac-img2, #fac-img3{
    width: 350px;
    height: 300px;
    text-align: left;
}

#fac-img1 img, #fac-img2 img, #fac-img3 img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

#fac-img1{
    margin-left: 150px;
}

#fac-img3{
    margin-right: 150px;
}

#fac-img1 h6, #fac-img2 h6, #fac-img3 h6{
    font-size: 20px;
    margin-top: 10px;
}

.testimony{
    width: 100%;
    height: 50vh;
    text-align: center;
    margin-top: 100px;
}

.users{
    display: flex;
    justify-content: space-between;
    margin: 80px 150px;
}

.user1, .user2{
    background-color: antiquewhite;
    width: 575px;
    height: 175px;
    border-radius: 15px;
    display: flex;
    position: relative;
}

.user1 img, .user2 img{
    width: 35px;
    height: 35px;
    position: absolute;
    border-radius: 15px;
    margin: 15px 20px;
}

.user1 #descr, .user2 #descr{
    font-size: 13px;
    opacity: 75%;
    margin-left: 65px;
    margin-top: 15px;
    padding-right: 15px;
}

.user1 #name, .user2 #name{
    position: absolute;
    top: 55%;
    left: 65px;
}

#stars{
    position: absolute;
    top: 73%;
    left: 65px;
}

.checked{
    color: orange;
}

.fa.fa-star-half-full{
    color: orange;
}

footer{
    width: 100%;
    height: 60vh;
    text-align: center;
    margin-top: 100px;
}

.foot-banner{
    background: linear-gradient(rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.73)), url(Images/banner2.jpg);
    height: 300px;
    display: inline-block;
    width: 1200px;
    border-radius: 15px;
    padding-top: 145px;
    color: white;
    margin-bottom: 200px;
}

.foot-banner h2{
    font-size: 40px;
    margin-bottom: 40px;
}

.foot-banner button{
    width: 200px;
    height: 50px;
    background: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
    border-radius: 10px;
}

.foot-banner button:hover{
    background-color: orangered;
    border: 1px solid orangered;
}

footer h6{
    font-size: 20px;
    margin-bottom: 25px;
}

footer p{
    opacity: 75%;
}

.social{
    margin-bottom: 50px;
    margin-top: 50px;
    color: orange;
    display: flex;
    position: absolute;
    width: 300px;
    justify-content: space-between;
    left: 40%;
}